.list_notmal
    padding 15px
.el-table
    width 100%
    margin 0 auto
    th
        background-color #ffffff
        >.cell
            font-size 18px
            font-weight 600
            text-align center
            color #009edb
    td
        >.cell
            color #58889c
            font-size 18px
            padding 14px 0
    &__header-wrapper
        thead
            div
                background-color white
    &--striped
        tr
            td
                background #f4f9ff
        .el-table__body
            tr.el-table__row--striped
                td
                    background white
.cell
    .icon
        font-size 25px
        color #009edb
        margin 0 5px
.download
    padding 15px 0
    text-align left
    .el-button
        line-height 2.4
        padding 0 10px
        margin 0 10px
    .icon
        color white
        font-size 16px
.date
    padding 17px 10px
    text-align left